body{
	font-family: 'Karla', sans-serif;
	background-color:hsl(204, 43%, 93%);
}
.main{
	margin-left: 20%;
	margin-top: 6em;
	 display:block;
	 width:60%;
	 background-color:white;
	 border-radius:0.5em;
}
.container{
	padding: 1.5em 0em 2em 2em;	
h1{
	color:hsl(179, 62%, 43%);
	font-size: 16px;
	font-weight:bolder;
}
h2{
	color:hsl(71, 73%, 54%);
	font-size: 16px;
}
p{
	color:hsl(218, 22%, 67%);
	font-size: 16px;
	width:70%;
}
}
.containerr{
	display: flex;
.sec{
	background-color:hsl(179, 62%, 36%);
	border-bottom-left-radius: 0.5em;
	width: 50%;
	padding:1em 0em 1em 2em;
.hed{
	color:hsl(204, 43%, 93%);
	font-size:16px;
	letter-spacing: 1px;
}
p{
	font-size: 16px;
	color:hsl(204, 43%, 76%);
	font-weight: lighter;
}
span{
	padding-right:6px;
	color:hsl(204, 43%, 93%);
	letter-spacing: 1px;
	font-size: 20px;
	font-weight: bold;
}
.heg{
	color:hsl(204, 43%, 83%);
}
.btn{
	background-color:hsl(71, 73%, 54%);
	width:80%;
	padding:1em;
	border-radius:5px;
	text-align: center;
	color:hsl(204, 43%, 93%);
	margin-top: 2em;
}
}
.sev{
	background-color:hsl(179, 62%, 43%);
	border-bottom-right-radius: 0.5em;
	padding-top:1em;
	padding-left: 2em;
	width: 50%;
	color:hsl(204, 43%, 90%);
h2{
	font-size:20px;
}
p{
	font-size:14px;
	line-height: 4px;
	color: hsl(204, 43%, 83%);
}
}
}
 .attribution { 
 	font-size: 14px;
 	text-align: center;
 	 }
 .attribution a { 
 	color: hsl(228, 45%, 44%);
 	text-decoration: none;
 	 }


@media screen and (max-width: 425px) {
section{
	margin-left: 5%;
	margin-top: 3em;
	 width:90%;
}
.container{
	padding: 0.5em 0em 1em 1em;	
h1{
	font-size: 0.75em;
}
h2{
	font-size: 9px;
}
p{
	font-size: 9px;
	width:70%;
}
}
.containerr{
	display:block;
	width:100%;
.sec{
	width: 96%;
	padding:1em 0em 1em 1em;
	border-radius:0px;
.btn{
	width:88%;
}
}
.sev{
	padding:0.5em 0em 1em 1em;
	width: 96%;
	border-bottom-left-radius:0.5em;

}
}	
}
@media screen and (max-width: 375px) {
.containerr{
	display:block;
	width:99%;
.sec{
	width: 96%;
}
.sev{
	width: 96%;
}
}
}